@{
    ViewData["Title"] = "Home Page";
}

<h2>User Claims</h2>
<dl>
    @foreach (var claim in User.Claims)
    {
        <dt>@claim.Type</dt>
        <dd>@claim.Value</dd>
    }
</dl>

    
<h2>Cookies Properties</h2>
<dl>
    @{
        var props = (await Context.Authentication.GetAuthenticateInfoAsync("Cookies")).Properties;
    }
    @foreach (var item in props.Items)
    {
        <dt>@item.Key</dt>
        <dd>@item.Value</dd>
    }
</dl>
